@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.header {
    position: relative;
}

.none{
    position: fixed;
    top: 0;
    opacity: 0;
    z-index: 200;
    width: 100%;
    transition: 1s ease-in;
}


nav.mudarnav{
    top: -20px;
    opacity: 1;
    position: fixed;
    background: #000;
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 100%;
    z-index: 200;
    transition: 1s ease-in;
}

nav.mudarnav>.logo>.logo{
    width: 95%;
}

.navbar {
    display: grid;
    grid-template-columns: 22% 56% 22%;
    justify-items: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    transition: 1s ease-in;
}



.nav-principal{
    z-index: 300;
    position: relative;
}

.logo {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.saraiva{
    margin-left: 1rem;
    color: gray;
    font-style: italic;
}


.menu {
    display: flex;
    list-style: none;
    z-index: 100;
}
/*
.list:first-child{
    margin-left: 20rem;
}
*/

.list:not(:first-child) {
    margin-left: 2rem;
}

.link {
    text-decoration: none;
    font-size: 1rem;
    color: grey;
    transition: all .5s;
}

.link:hover{
    color: white;
}

.img-branco{
    filter: brightness(0) invert(1);
    transition: all 20s;
}

.icon{
    width: 20px;
    transition: all 20s;
}

.icon:hover{
    filter: brightness(50%) contrast(0%);
}

.video {
    height: 41rem;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}


.header::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    height: 41rem;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, .7), rgba(0, 0, 0, .4));
    z-index: 50;
}

.titulo-principal {
    position: absolute;
    z-index: 50;
    color: white;
    top: 260px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    /*Se passar do pai vai ser cortado
    overflow: hidden;
    */
    text-transform: uppercase;
}


.eu{
    position: absolute;
    z-index: 50;
    color: white;
    top: 305px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
}

.eu .dinamico{
    margin-left: 15px;
    overflow: hidden;
    height: 18px;
}

.dinamico>li{
    color: gray;
    list-style: none;
    left: 0;
    position: relative;
    animation: mudartext 4s steps(10) infinite;
}

@keyframes mudartext{
    100%{
        top: -20px;
    }
}

.dinamico li span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid #808080;
    background: black;
    
    animation: quemsou 2s steps(10) infinite;
}

.dinamico li span{
    position: relative;
}

@keyframes quemsou{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.btn {
    padding: 1.5rem;
    border: 1px solid white;
    border-radius: .5rem;
    color: white;
    top: 400px;
    left: 50%;
    position: absolute;
    text-decoration: none;
    z-index: 50;
    transform: translateX(-50%);
    transition: all 0.2s;
}

.btn:hover{
    background-color: white;
    color: gray;
}

.setabaixo{
    position: relative;
    z-index: 50;
    height: 3.5rem;
    margin-top: 500px;
    z-index: 100;
}

.img-seta{
    position: absolute;
    left: 50%;
    filter: brightness(0) invert(1);
    width: 2%;
    z-index: 100;
    transform: rotate(90deg);
    animation: seta 3s infinite ease-in;
}

@keyframes seta{
    0%{
        top: 0;
        opacity: 0.1;
    }
    50%{
        top: 100%;
        opacity: 1;
    }
    100%{
        top: 0;
        opacity: 0.1;
    }
}

.container-tec{
    position: relative;
    z-index: 60;
    border-radius: 10px;
}

.bg-saraiva{
    object-fit: cover;
    width: 100%;
    position: absolute;
    border-radius: 10px 10px 0 0;
}

.title-tec{
    padding-top: 50px;
    text-align: center;
    z-index: 60;
    position: relative;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
}

.container-cards{
    position: relative;
    z-index: 60;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}


.container-cards .cards{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-rows: 100%;
}

.card-html{
    background-color: #F16529;
}

.img-card{
    margin: auto;
    align-items: center;
    display: flex;
}
.icon-card{
    width: 150px;
    margin: auto;
}

.container-cards .cards .conteudo{
    position: absolute;
    bottom: -400px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    flex-direction: column;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 1s ease-in;
    animation: teste 3s infinite ease-in;
}

.container-cards .cards:hover .conteudo{
    bottom: 0;
}

.card-html::before{
    content: 'HTML 5';
    position: absolute;
    transform: rotate(90deg);
    top: 10vh;
    left: -2rem;
    font-size: 30px;
}

.card-css{
    background-color: #2965F1;
}

.card-css::before{
    content: 'CSS 3';
    position: absolute;
    transform: rotate(90deg);
    top: 10vh;
    left: -1rem;
    font-size: 30px;
}


.card-js{
    background-color: #F7DF1E;
}

.card-js::before{
    content: 'JavaScript';
    position: absolute;
    transform: rotate(90deg);
    top: 10vh;
    left: -3rem;
    font-size: 30px;
}
.card-java{
    background-color: #ffffff;
}

.card-java::before{
    content: 'Java';
    position: absolute;
    transform: rotate(90deg);
    top: 10vh;
    left: 0rem;
    font-size: 30px;
}

.baixo{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-items: end;
    position: relative;
}


.card-pgadmin{
    position: absolute;
    left: -25%;
    background-color: #5A81A2;
}

.card-pgadmin::before{
    content: 'Postgresql';
    position: absolute;
    transform: rotate(90deg);
    top: 19%;
    left: -16%;
    font-size: 30px;
}

@keyframes teste {
    0%{
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    }
    50%{
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.651);
    }
    100%{
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    }
}

.container-sobre{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2%;
}

.conteudo-sobre{
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;

}


.img-sobre{
    width: 50%;
    border-radius: 10%;
    margin-left: 10%;
    border: 1px solid black;
    animation: img-eu 4s infinite;
    box-shadow: 0 0 40px 2px #000;
}
/*
@keyframes img-eu{
    0%{
        margin-left: 10%;
    }
    50%{
        margin-left: 13%;
    }
    100%{
        margin-left: 10%;
    }
}
*/
.foto-minha{
    display: flex;
    position: relative;
}
.logo-sobre{
    background-color: #000;
    height: 60px;
    width: 60px;
    border-radius: 10%;
    position: absolute;
    top: 84%;
    left: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div.foto-minha>.logo-sobre>svg{
    margin: auto;
    fill: black;
    stroke: white;
    stroke-dasharray: 2266;
    stroke-dashoffset: 0;
    animation: logo-desenho 10s infinite linear;
}

@keyframes logo-desenho{
    0%{
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dashoffset: 2266;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.descricao{
    text-align: center;
}
.titulo-projeto{
    position: relative;
    width: 100%

}
/*
h4.title-tec::before{
    content: '';
    width: 40%;
    border: 1px solid #000;
    position: absolute;
    left: 60%;
    top: 75%;
    animation: linha-be 10s infinite;
}


h4.title-tec::after{
    content: '';
    width: 100%;
    border: 1px solid #000;
    position: absolute;
    left: 40%;
    top: 22%;
    animation: linha-af 9s infinite;
    transform: rotate(360deg);
    border-radius: 10px;
}

@keyframes linha-be{
    0%{
        width: 0%;
        left: 60%;
    }
    50%{
        width: 40%;
        left: 60%;
    }
    100%{
        width: 0%;
        left: 60%;

    }
}
@keyframes linha-af{
    0%{
        left: 0;
        width: 0;
    }
    50%{
        left: 0;
        width: 100%;
    }
    100%{
        left: 0;
        width: 0;
    }
}
*/
.articlebg{
    margin-top: 3vh;
}

.container-celular{
    display: none;
}



@media screen and (max-width: 1000px){

    .container-cards{
        display: grid;
        grid-template-columns: 100%;
    }

    .baixo{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }
    .card-pgadmin{
        position: sticky;
        left: auto;
        background-color: #5A81A2;
    }

    .container-sobre{
        display: grid;
        grid-template-columns: 100%;
        margin-top: 0%;
    }

    .conteudo-sobre{
        margin: 0% 10%;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 25px;
        font-size: 14px;
    }
    .container-tec{
        display: none;
    }

    .container-celular{
        display: block;
        position: relative;
        z-index: 1200;
    }
    .gallery {
        background: #EEE;
      }
      
      .gallery-cell {
        width: 66%;
        height: 400px;
        margin-right: 10px;
        background: #8C8;
        counter-increment: gallery-cell;
      }
      
      .gallery-cell:before {
          display: block;
          text-align: center;
          content: counter(gallery-cell);
          line-height: 400px;
          font-size: 80px;
          color: white;
    
      }
}



/*body { font-family: sans-serif; }


    // external js: flickity.pkgd.js
  }*/