@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:255gh255@72550&.1ay=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@500&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.font-titulo {
    font-size: 2rem;
}

.bold {
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.header {
    position: relative;
}

.none {
    position: fixed;
    top: 0;
    opacity: 0;
    z-index: 200;
    width: 100%;
    transition: 1s ease-in;
}


nav.mudarnav {
    top: -20px;
    opacity: 1;
    position: fixed;
    background: #000;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 200;
    transition: 1s ease-in;
}

nav.mudarnav>.logo>.logo {
    width: 95%;
}

.navbar {
    display: grid;
    grid-template-columns: 22% 56% 22%;
    justify-items: center;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    transition: 1s ease-in;
}



.nav-principal {
    z-index: 300;
    position: relative;
}

.logo {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.saraiva {
    margin-left: 1rem;
    color: gray;
    font-style: italic;
}


.menu {
    display: flex;
    list-style: none;
    z-index: 100;
}

/*
.list:first-child{
    margin-left: 20rem;
}
*/

.list:not(:first-child) {
    margin-left: 2rem;
}

.link {
    text-decoration: none;
    font-size: 1rem;
    color: grey;
    transition: all .5s;
}

.link:hover {
    color: white;
}

.img-branco {
    filter: brightness(0) invert(1);
    transition: all 20s;
}

.icon {
    width: 20px;
    transition: all 20s;
}

.icon:hover {
    filter: brightness(50%) contrast(0%);
}

.video {
    height: 44rem;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}


.header::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    height: 44rem;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, .7), rgba(0, 0, 0, .4));
    z-index: 50;
}

.titulo-principal {
    position: absolute;
    z-index: 50;
    color: white;
    top: 260px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    /*Se passar do pai vai ser cortado
    overflow: hidden;
    */
    text-transform: uppercase;
}


.eu {
    position: absolute;
    z-index: 50;
    color: white;
    top: 305px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
}

.eu .dinamico {
    margin-left: 15px;
    overflow: hidden;
    height: 18px;
}

.dinamico>li {
    color: gray;
    list-style: none;
    left: 0;
    position: relative;
    animation: mudartext 4s steps(10) infinite;
}

@keyframes mudartext {
    100% {
        top: -20px;
    }
}

.dinamico li span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid #808080;
    background: black;

    animation: quemsou 2s steps(10) infinite;
}

.dinamico li span {
    position: relative;
}

@keyframes quemsou {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.btn {
    padding: 1.5rem;
    border: 1px solid white;
    border-radius: .5rem;
    color: white;
    top: 400px;
    left: 50%;
    position: absolute;
    text-decoration: none;
    z-index: 50;
    transform: translateX(-50%);
    transition: all 0.2s;
}

.btn:hover {
    background-color: white;
    color: gray;
}

.setabaixo {
    position: relative;
    z-index: 50;
    height: 3.5rem;
    margin-top: 500px;
    z-index: 100;
}

.img-seta {
    position: absolute;
    left: 50%;
    filter: brightness(0) invert(1);
    width: 2%;
    z-index: 100;
    transform: rotate(90deg);
    animation: seta 3s infinite ease-in;
}

@keyframes seta {
    0% {
        top: 0;
        opacity: 0.1;
    }

    50% {
        top: 100%;
        opacity: 1;
    }

    100% {
        top: 0;
        opacity: 0.1;
    }
}

.container-tec {
    position: relative;
    z-index: 60;
    border-radius: 10px;
    margin-top: 2rem;
}

.bg-saraiva {
    object-fit: cover;
    width: 100%;
    position: absolute;
    border-radius: 10px 10px 0 0;
}

.title-tec {
    padding-top: 50px;
    text-align: center;
    z-index: 60;
    position: relative;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
}

.container-cards {
    position: relative;
    z-index: 60;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}


.container-cards .cards {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-rows: 100%;
}

.card-html {
    background-color: #F16529;
}

.img-card {
    margin: auto;
    align-items: center;
    display: flex;
}

.icon-card {
    width: 150px;
    margin: auto;
}

.container-cards .cards .conteudo {
    position: absolute;
    bottom: -400px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    flex-direction: column;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease-in;
    animation: teste 3s infinite ease-in;
}

.container-cards .cards:hover .conteudo {
    bottom: 0;
}

.card-html::before {
    content: 'HTML 5';
    position: absolute;
    transform: rotate(90deg);
    top: 10vh;
    left: -2rem;
    font-size: 30px;
}

.card-css {
    background-color: #2965F1;
}

.card-css::before {
    content: 'CSS 3';
    position: absolute;
    transform: rotate(90deg);
    top: 10vh;
    left: -1rem;
    font-size: 30px;
}


.card-js {
    background-color: #F7DF1E;
}

.card-js::before {
    content: 'JavaScript';
    position: absolute;
    transform: rotate(90deg);
    top: 10vh;
    left: -3rem;
    font-size: 30px;
}

.card-java {
    background-color: #ffffff;
}

.card-java::before {
    content: 'Java';
    position: absolute;
    transform: rotate(90deg);
    top: 10vh;
    left: 0rem;
    font-size: 30px;
}

.baixo {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-items: end;
    position: relative;
}


.card-pgadmin {
    position: absolute;
    left: -25%;
    background-color: #5A81A2;
}

.card-pgadmin::before {
    content: 'Postgresql';
    position: absolute;
    transform: rotate(90deg);
    top: 19%;
    left: -16%;
    font-size: 30px;
}

@keyframes teste {
    0% {
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    }

    50% {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.651);
    }

    100% {
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    }
}

.container-sobre {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2%;
}

.conteudo-sobre {
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;

}


.img-sobre {
    width: 50%;
    border-radius: 10%;
    margin-left: 10%;
    border: 1px solid black;
    animation: img-eu 4s infinite;
    box-shadow: 0 0 40px 2px #000;
}

/*
@keyframes img-eu{
    0%{
        margin-left: 10%;
    }
    50%{
        margin-left: 13%;
    }
    100%{
        margin-left: 10%;
    }
}
*/
.foto-minha {
    display: flex;
    position: relative;
}

.logo-sobre {
    background-color: #000;
    height: 60px;
    width: 60px;
    border-radius: 10%;
    position: absolute;
    top: 84%;
    left: 54%;
    display: flex;
    justify-content: center;
    align-items: center;

}

div.foto-minha>.logo-sobre>svg {
    margin: auto;
    fill: black;
    stroke: white;
    stroke-dasharray: 2266;
    stroke-dashoffset: 0;
    animation: logo-desenho 16s infinite linear;
}

@keyframes logo-desenho {
    0% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 2266;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.descricao {
    text-align: center;
}

.titulo-projeto {
    position: relative;
    width: 100%
}






@media screen and (max-width: 1000px) {

    .container-cards {
        display: grid;
        grid-template-columns: 100%;
    }

    .baixo {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }

    .card-pgadmin {
        position: sticky;
        left: auto;
        background-color: #5A81A2;
    }

    .container-sobre {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 0%;
    }

    .conteudo-sobre {
        margin: 0% 10%;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 25px;
        font-size: 14px;
    }
}

.bg-projetos {
    margin-top: 1.2rem;
    z-index: 0;
}

.descricao {
    position: relative;
    z-index: 30;
}

.container-projetos {
    display: grid;
    grid-template-columns: 45% 45%;
    background-color: gray;
    gap: 10%;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.logo-l {
    width: 23%;
    transition: 0.5s ease-in-out;
}

.logo-music {
    width: 40%;
    transition: 0.5s ease-in-out;
}

.container-projetos .card-projeto {
    width: 75%;
    position: relative;
    height: 14rem;
    display: flex;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.container-projetos .card-projeto .img-cardproj {
    top: 0px;
    left: 0px;
    position: absolute;
    height: calc(100%);
    width: calc(100%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);
    transition: 0.5s ease-in-out;
}

.container-projetos .card-projeto:hover .img-cardproj {
    height: 5rem;
    width: 5rem;
    left: -65px;

}

.container-projetos .card-projeto:hover .img-cardproj .logo-l {
    width: 63%;
}

.container-projetos .card-projeto .conteudo-projeto {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-legacy {
    color: #037971;
}

.texto-branco {
    color: #fff;
}

.maiusculo {
    text-transform: uppercase;
}

.texto-g1 {
    color: #A0000C;
}

.mb {
    margin-bottom: 5%;
}

.btn-projeto {
    border: 1px solid gray;
    border-radius: .5rem;
    color: gray;
    padding: .5rem;
    transition: all 0.5s;
}

.btn-projeto:hover {
    background-color: gray;
    color: white;
}

.texto-pequeno {
    font-size: .67em;
}

.bg-g1 {
    background-color: #A0000C;
    border-radius: 20px;
}

.bg-legacy {
    background-color: #ffffff;
    border-radius: 20px;
}

.bg-blognode {
    background-color: #FFBE00;
    border-radius: 20px;
}

.bg-saraivamusic {
    background-color: #001822;
    border-radius: 20px;
}

.bg-portfolio {
    background-color: #000;
    border-radius: 20px;
}

.mt-icon {
    top: 80%;
}

/*
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    transition: all 1s ease;
}
*/
.texto-preto {
    color: #000;
}

/*
.btn-3 {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    transition: all 1s ease;
}

.btn-g1 {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(245, 245, 245) 0%, rgb(212, 211, 211) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    transition: all 1s ease;
}

.btn-node {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(245, 245, 245) 0%, rgb(212, 211, 211) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    transition: all 1s ease;
}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

.btn-g1 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}
.btn-node span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 1s ease;
}

.btn-g1:before,
.btn-g1:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(207, 1, 46);
    transition: all 1s ease;
}

.btn-node:before,
.btn-node:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #000;
    transition: all 1s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}


.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: rgba(2, 126, 251, 1);
}

.btn-g1 span:hover {
    color: rgb(255, 255, 255);
}

.btn-node span:hover {
    color: rgb(70, 70, 70);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 1s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

*/


.custom-btn {
    width: 130px;
    height: 40px;
    color: var(--texto);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 3 */
.btn-3 {
    background: var(--cor);
    background: var(--cor);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: var(--cor);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: var(--cor);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: var(--cor);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}









.container-projetos-front {
    display: grid;
    grid-template-columns: 27% 27% 27%;
    gap: 5%;
    background-color: gray;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.container-projetos-front .card-projeto {
    width: 100%;
    position: relative;
    height: 14rem;
    display: flex;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.container-projetos-front .card-projeto .img-cardproj {
    top: 0px;
    left: 0px;
    position: absolute;
    height: calc(100%);
    width: calc(100%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .1);
    transition: 0.5s ease-in-out;
}

.container-projetos-front .card-projeto:hover .img-cardproj {
    height: 5rem;
    width: 5rem;
    left: -65px;
}

.container-projetos-front .card-projeto:hover .img-cardproj .logo-l {
    width: 63%;
}

.container-projetos-front .card-projeto:hover .img-cardproj .logo-music {
    width: 73%;
}

.container-projetos-front .card-projeto .conteudo-projeto {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-tec {
    display: flex;
    position: absolute;
    justify-content: space-between;
    left: 34%;
    width: 30%;
}

.box-input {
    position: relative;
}

.box-input label {
    position: absolute;
    top: 50%;
    z-index: 20;
    left: 0;
    transition: all 0.2s;
}

input {
    width: 100%;
    border: none;
    border-bottom: #000 solid 1px;
    outline: none;
    margin-top: 3%;
}

.container-contato {
    margin: 2% 5%;
}

input:focus {
    border: none;
    border-bottom: #037971 solid 1px;
    outline: none;
}

input:focus+label {
    color: #037971;
}

input:valid+label,
input:focus+label {
    top: 10%;
    font-size: 90%;
}

#enviar {
    width: 100%;
    padding: .5rem;
    transition: all 1s;
    background-color: #000;
    color: #ffffff;
    margin-top: 3%;
}

#enviar:hover {
    background-color: #fff;
    color: #000;
}

textarea {
    width: 100%;
    margin-top: 3%;
    transition: all 1s;
    outline: none;
    height: 10rem;
}

textarea:focus {
    border: 1px solid #037971;
}

textarea:focus+label {
    color: #037971;
}

footer {
    width: 100%;
    background-color: #000;
    padding: 2% 10%;
}

.mapa-site {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15%;
}

.mapa-site li {
    position: relative;
    margin-top: .1rem;
}

.mapa-site li a {
    position: relative;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: gray;
    transition: .5s;
}

.mapa-site li a:hover {
    color: rgb(87, 87, 87);
    filter: drop-shadow(0 0 1.2rem gray);
}

.container-mapa {
    display: grid;
    grid-template-columns: 40% 60%;
}

.icon-logo {
    width: 15%;
    display: block;
}

.logo-saraivafooter {
    display: flex;
    margin: auto;
}

.copy {
    border-top: 1px solid white;
    text-align: center;
    padding: 2% 0;
}

.links {
    font-size: 1.5rem;
}

.texto-cinza {
    color: gray;
    text-align: center;
    display: block;
    margin: auto;
}

.btn-front {
    padding: .5rem;
    background-color: var(--cor);
    border: none;
    outline: none;
    border: 2px solid transparent;
    border-radius: 10%;
}

.caixa-conteudo{
    padding: 5%;
}

.centralizar{
    text-align: center;
}